{% extends 'base.html' %}

{% block title %}Formulário de Produto{% endblock %}

{% block styles %}
<style>
  /* Adicione seus estilos personalizados aqui */
</style>
{% endblock %}

{% block content %}
<div class="container mt-5">
        <h1 class="mb-4">Formulário de Informações</h1>
        <form method="post">
            <div class="form-group">
                <label for="code">Código</label>
                <input type="number" name="code" class="form-control" id="code" placeholder="Digite o código">
            </div>
            <div class="form-group">
                <label for="quantity">Quantidade</label>
                <input type="number" name="quantity" class="form-control" id="quantity" placeholder="Digite a quantidade">
            </div>
            <div class="form-group">
                <label for="price">Preço</label>
                <input type="number" name="price" step="0.01" class="form-control" id="price" placeholder="Digite o preço">
            </div>
            <div class="form-group">
                <label for="person_id">ID da Pessoa</label>
                <input type="text" name="person_id" class="form-control" id="person_id" placeholder="Digite o ID da pessoa">
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
{% endblock %}

{% block scripts %}
<script>
  // Adicione seus scripts personalizados aqui
</script>
{% endblock %}




