
{% extends 'base.html' %}


{% block content %}

<body>
    <div class="container mt-5">
        <h1 class="mb-4">Informações</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col">Preço</th>
                    <th scope="col">ID da Pessoa</th>
                    <th scope="col">Ação</th>
                </tr>
            </thead>
            <tbody>
                <!-- Example Row -->
                {% if data:%}
                    {%for x in data:%}
                        <tr>
                        
                            <td>{{x.code}}</td>
                            <td>{{x.quantity}}</td>
                            <td>{{x.price}}</td>
                            <td>{{x.person_id}}</td>
                            <td>
                                <a href="{{url_for('titles.view', id=x.id)}}">
                                    <button class="btn btn-primary">
                                        Ver
                                    </button>
                                    
                                </a>
                            </td>    
                        </tr>
                    {%endfor%}
                {%else:%}
                    <tr>
                
                
                        <td>nao existem dados</td>
                        <td></td>
                        <td></td>
                    </tr>
                
                {%endif%}
                
            </tbody>
        </table>
    </div>
</body>
{% endblock %}