{% extends 'base.html' %}



{% block styles %}

{% endblock %}



{% block content %}

<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h1>Detalhes do Produto</h1>
            </div>
            <div class="card-body">
                <h5 class="card-title">Código: <span id="product-code">{{data.code}}</span></h5>
                <p class="card-text">
                    <strong>Quantidade:
                    </strong> 
                    <span id="product-quantity">{{data.quantity}}</span></p>
                <p class="card-text">
                    <strong>Preço:</strong> R$ 
                    <span id="product-price">{{data.price}}</span>
                </p>
                <p class="card-text">
                    <strong>ID da Pessoa:</strong> 
                    <span id="person-id">{{data.person_id}}</span>
                </p>
                <a href="{{url_for('titles.list')}}" class="btn btn-primary">Voltar</a>
            </div>
        </div>
    </div>
</body>


{% endblock %}

