{% extends 'base.html' %}



{% block styles %}
<style>

</style>
{% endblock %}



{% block content %}

<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h1>Detalhes do Usuário</h1>
            </div>
            <div class="card-body">
                <h5 class="card-title">Nome: 
                    <span id="user-name">{{data[0].name}}</span>
                </h5>
                <p class="card-text">
                    <strong>Documento:</strong> 
                    <span id="user-doc">{{data[0].doc}}</span>
                </p>
                <p class="card-text">
                    <strong>Tipo de Documento:</strong> 
                    <span id="user-type-doc">{{data[0].tipe_doc}}</span>
                </p>
                <p class="card-text">
                    <strong>Endereço:</strong> 
                    <span id="user-adress">{{data[0].adress}}</span>
                </p>
                <p class="card-text">
                    <strong>Contato:</strong> 
                    <span id="user-contact">{{data[0].contact}}</span></p>
                <a href="{{url_for('person.list')}}" class="btn btn-primary">Voltar</a>
                <hr>
                <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col">Preço</th>
                    <th scope="col">ID da Pessoa</th>
                    <th scope="col">Ação</th>
                </tr>
            </thead>
            <tbody>
                <!-- Example Row -->
                {% if data[1]:%}
                    {%for x in data[1]:%}
                        <tr>
                        
                            <td>{{x.code}}</td>
                            <td>{{x.quantity}}</td>
                            <td>{{x.price}}</td>
                            <td>{{x.person_id}}</td>
                            <td>
                                <a href="{{url_for('titles.view', id=x.id)}}">
                                    <button class="btn btn-primary">
                                        Ver
                                    </button>
                                    
                                </a>
                            </td>    
                        </tr>
                    {%endfor%}
                {%else:%}
                    <tr>
                
                
                        <td>nao existem dados</td>
                        <td></td>
                        <td></td>
                    </tr>
                
                {%endif%}
                
            </tbody>
        </table>

            </div>

        </div>
    </div>
</body>


{% endblock %}

